@model List<WarehouseWorkerUI.PickLists.DataModels.PickList>

@{
    ViewBag.Title = "Your pick lists";
}

<div class="container">
    <div class="row">
        <table>
            <thead>
                <th>PickListId</th>
                <th>Total Quantity</th>
                <th>Created</th>
                <th>Is Picked</th>
           </thead>
            <tbody>
            @foreach (var pickList in Model)
            {
                <tr>
                    <td>@pickList.PickListId</td>
                    <td>@pickList.TotalQuantity</td>
                    <td>@pickList.WhenCreated</td>
                    <td>@pickList.IsPicked</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>
