@{
    ViewBag.Title = "Your pick lists";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card my-4">
                <div class="card-body">
                    <form action="/" method="POST">
                        
                        list of pick lists for orders
                        
                        <input type="submit" class="btn btn-lg btn-success" onclick="sentMessage()" value="Mark as ready&raquo;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
